body {
  -webkit-font-smoothing: antialiased;
  background-size: 100vw 100vh;
  background-image: linear-gradient(rgb(49, 102, 113), rgb(78, 138, 129));
  background-position: center;
  color: #d0c6aa;
  font-family: Roboto, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

body.f {
  background-image: url("../images/f.svg"),
    linear-gradient(rgb(49, 102, 113), rgb(78, 138, 129));
}

h1 {
  font-size: 3.5em;
  font-weight: normal;
  text-align: center;
  text-shadow: rgba(0, 20, 90, 0.4) 0px 0px 2px;
  margin: 0;
  margin-bottom: 20px;
}

button {
  background: #b5ac95;
  border: none;
  box-shadow: rgba(0, 20, 90, 0.4) 0px 0px 2px;
  color: #271d05;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
  height: 50px;
  margin: 0 auto;
  padding: 0.4em 1em;
  transition: 1s;
  border-radius: 2px;
}

input {
  display: none;
}

h1,
.success {
  font-family: "Playfair Display";
}

label {
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.screen {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin: 0 auto;
  width: 100%;
  transition: 1s;
  height: 100vh;
}

.screen.intro,
.screen.result {
  height: auto;
}

.screen:not(.show) {
  visibility: hidden;
  opacity: 0;
}

.screen.show {
  opacity: 1;
}

.screen.intro h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 40px;
}

.screen .text-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.answers {
  flex: 1 1;
  list-style: none;
  margin: 0;
  padding: 0.9em 0;
}

.answers li label {
  display: block;
  padding: 0.6em 1.2em;
}

.answers li label:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.question {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1px;
  padding: 1em 1.2em;
}

.question,
.answers {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.question-text-bottom .text-section {
  margin-top: 1px;
}

.question-text-left,
.question-text-right,
.question-text-left .text-section,
.question-text-right .text-section {
  min-height: 250px;
}

.image-question.question-text-bottom img {
  height: auto;
  width: 100%;
}

.result h2 {
  font-family: "Playfair Display";
  font-size: 3em;
  font-weight: normal;
  text-shadow: rgba(0, 20, 90, 0.4) 0px 0px 2px;
  text-align: center;
  margin: 20px 0 40px;
}

.result.error {
  text-align: center;
}

.result.error p {
  margin: 0;
  line-height: 2;
}

.result.error button {
  margin-top: 50px;
}

@media only screen and (min-width: 800px) {
  body {
    background: linear-gradient(rgb(36, 88, 99), rgba(119, 169, 151, 0)),
      linear-gradient(rgba(119, 169, 151, 0), rgb(53, 111, 123)),
      radial-gradient(rgb(73, 184, 214), rgb(1, 31, 62));
    background-attachment: fixed;
  }

  .screen {
    width: 800px;
    margin-bottom: 130px;
    height: auto;
  }

  .question-text-right {
    flex-direction: row;
  }

  .question-text-left {
    flex-direction: row-reverse;
  }

  .question-text-right img,
  .question-text-left img {
    height: auto;
    width: 250px;
  }

  .question-text-right .text-section {
    margin-left: 1px;
  }

  .question-text-left .text-section {
    margin-right: 1px;
  }

  .soundcloud-question iframe {
    min-width: 250px;
    width: 0;
  }

  button:hover {
    background: #d8c593;
  }
}
